body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  display: block;
  padding: 5px;
  width: 200px;
  margin: 10px;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttonWrapper button {
  width: 20%;
}
.selectUser {
  margin: 5px;
  font-size: 15px;
  padding: 10px;
}
.httpMethodSelectorButton{
  padding: 20px; padding-top: 10px; padding-bottom: 10px;
}